---
import "../styles/global.css";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Restaurant</title>
  </head>
  <body class="bg-white text-gray-900">
    <main class="">
      <slot />
    </main>
  </body>
</html>
